.drawer {
  @apply h-full w-full;
  background-color: var(--bg-modal-drawer);
}

.nav {
  @apply w-full mt-6 border-b pb-2;
  border-color: var(--border-primary);
}

.border {
  @apply border-b mt-4;
  border-color: var(--border-primary);
}

.sectionHeader {
  @apply px-6 text-xs font-bold mt-4 uppercase mb-2 text-left;
  color: var(--text-accent);
}

.link {
  @apply px-6 py-2 flex w-full items-center font-semibold my-1;
}

.link span {
  @apply ml-2;
}

.activeLink {
  background-color: var(--bg-secondary);
}
