.drawer {
  @apply h-full w-full;
  background-color: var(--bg-modal-drawer);
}

.userProfile {
  @apply w-full flex flex-col items-start text-left px-6 pb-12;
}

.avatarContainer {
  @apply shadow-inner w-16 h-16 border rounded-full overflow-hidden;
  border-color: var(--border-primary);
}

.emptyAvatar {
  @apply flex items-center justify-center w-full h-full text-2xl shadow-inner font-semibold;
  background-color: var(--bg-secondary);
}

.avatarImage {
  @apply block w-full h-full;
}

.username {
  @apply font-medium w-full mt-2;
}

.section {
  @apply border-b w-full pb-2;
  border-color: var(--border-primary);
}

.sectionHeader {
  @apply px-6 text-xs font-bold mt-4 uppercase mb-2 text-left;
  color: var(--text-accent-dark);
}

.link {
  @apply font-semibold px-6 py-2 flex w-full items-center;
}

.activeLink {
  @apply;
  background-color: var(--bg-secondary);
}
