.container {
  @apply flex flex-col rounded shadow px-2;

  background-color: var(--bg-secondary);
}

.button {
  @apply py-2 flex items-center justify-between cursor-pointer;
}

.spellName {
  @apply text-lg font-semibold;
  color: var(--color-spell-name);
}

.spellSchool {
  @apply text-sm font-medium;
  color: var(--text-secondary);
}

.spellLevel {
  @apply text-sm font-bold opacity-75;
}

.bottomPart {
  @apply p-4 pt-2;
}

.description p {
  @apply my-2;
}

@screen md {
  .container {
    /* @apply w-1/4; */
  }
}
