.container {
  @apply flex flex-col p-4 justify-center rounded shadow-sm;
  background-color: var(--bg-secondary);
}

.skillContainer {
  @apply flex items-center mb-1 justify-between;
}

.skillContainerProficient {
  @apply flex items-center mb-1 justify-between;
}

.ability {
  @apply text-xs font-medium;
}

.infoWrapperProficient {
  @apply flex items-center;
}

.infoWrapper {
  @apply flex items-center;
}

.name {
  @apply mr-4 font-semibold text-sm;
}

.value {
  @apply font-semibold;
}

.indicator {
  @apply w-2 h-2 rounded-full  border mr-2;
  border-color: var(--text-primary);
}

.isProficient {
  background-color: var(--text-primary);
}
