.container {
  @apply hidden;
}

@screen md {
  .container {
    @apply w-full px-6 pb-4 pt-2 flex flex-col;
    background-color: var(--bg-secondary);
  }

  .searchLabel {
    @apply flex items-center w-full;
  }

  .searchInput {
    @apply p-2 rounded-lg;
    background-color: var(--bg-secondary);
  }

  .searchInput:focus {
    @apply outline-none;
  }

  .selectLabel {
    @apply text-sm mr-4;
    color: var(--text-secondary);
  }

  .selectLabelText {
    @apply font-bold mb-1 block;
  }
}
