.container {
  @apply flex flex-col;
}

.card {
  @apply flex p-3 items-center my-2 rounded;
  background-color: var(--bg-secondary);
}

.circle {
  @apply w-10 h-10 rounded-full bg-gray-200 mr-2 overflow-hidden;
  background-color: var(--bg-primary);
}

.nameBar {
  @apply w-32 block rounded-sm overflow-hidden;
  background-color: var(--bg-primary);
  margin-bottom: 5px;
  height: 9px;
}

.klassBar {
  @apply w-24 block rounded-sm overflow-hidden;
  background-color: var(--bg-primary);
  height: 9px;
}

.animatedBar {
  @apply block h-2 rounded-sm w-10;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    var(--bg-animated-bar),
    rgba(255, 255, 255, 0)
  );
}

@screen md {
  .container {
    @apply flex-row items-center;
  }

  .card {
    @apply inline-flex px-4 py-2 mr-2;
    width: min-content;
  }

  .button {
    @apply mt-0 py-2 flex h-12 w-12 ml-4 justify-center items-center shadow-lg border-none;
  }

  .animatedButton {
    @apply hidden;
  }
}
