.container {
  @apply text-white px-4 pb-2 flex justify-between w-full flex-col items-start;
  background-color: var(--bg-header);
}

.imgNameKlass {
  @apply flex items-center mb-2;
}

.klassLogo {
  @apply h-10 w-10 mr-4 relative;
}

.characterName {
  @apply text-2xl font-extrabold tracking-tight mr-2;
}

.characterRaceKlass {
  @apply text-sm font-medium text-gray-300 leading-tight;
}

.characterLevel {
  @apply text-white font-medium ml-1 flex items-center;
}

.hpContainer {
  @apply h-full flex flex-col w-1/2 ml-auto;
}

.bottomContainer {
  @apply flex justify-between w-full items-center mt-2;
}

@screen md {
  .container {
    @apply rounded-t-lg px-6 py-4;
    background-color: var(--bg-secondary);
    color: var(--text-primary);
  }

  .characterRaceKlass {
    color: var(--text-secondary);
  }

  .imgNameKlass {
    @apply mb-0;
  }

  .hpContainer {
    @apply hidden;
  }

  .bottomContainer {
    @apply hidden;
  }
}
