.container {
  @apply m-4 rounded;
  background-color: var(--bg-secondary);
}

@screen md {
  .container {
    @apply shadow-none;
  }
}

.slotsEditButton {
  @apply flex items-center text-xs p-2;
  color: var(--text-secondary);
}

.slotsEditButtonActive {
  @apply flex items-center text-xs p-2;
}

.slotLevelContainer {
  @apply flex mb-3;
}

.removeSlotButton {
  @apply mr-4;
}

.addSlotButton {
  @apply ml-4;
}

.slotLevelText {
  @apply text-2xl font-semibold text-right mr-2;
  width: 5%;
}

.noSlotsText {
  @apply italic ml-2 text-sm pb-2;
  color: var(--text-secondary);
}
