.container {
  @apply hidden;
}

@screen md {
  .container {
    @apply fixed flex flex-col border-r;
    width: var(--desktop-sidebar-width);
    background-color: var(--bg-sidebar);
    height: 100vh;
    border-color: var(--bg-tertiary);
  }

  .logoContainer {
    @apply flex items-center p-4;
  }

  .nav {
    @apply w-full mt-6 border-b pb-2;
    border-color: rgb(255, 255, 255, 0.1);
  }

  .link {
    @apply px-6 py-2 flex w-11/12 mx-auto rounded items-center font-semibold my-1 text-white;
  }

  .link span {
    @apply ml-2;
  }

  .activeLink {
    background-color: #333333;
  }
}
