.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  @apply flex items-center justify-center;
}



.modalDefault {
  @apply text-center rounded shadow-md relative;
  max-width: 275px;
  width: 100%;
  background-color: var(--bg-secondary);
}

.modalBottom {
  @apply text-center rounded shadow-md relative overflow-visible;
  max-width: 90vw;
  width: 100%;
  background-color: var(--bg-secondary);
}

.drawerBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  @apply flex items-center;
}

.modalDrawer {
  @apply text-center shadow-md relative;
  background-color: var(--bg-secondary);
  height: 100vh;
  width: 80%;
  overflow-y: scroll;
}

.modalSpellDrawer {
  @apply shadow-md relative;
  background-color: var(--bg-secondary);
  height: calc(100vh - var(--mobile-header-height));
  margin-top: auto;
  width: 100%;
  overflow-y: auto;
}

@screen md {
  .modalDefault {
    @apply text-center rounded shadow-md relative -mt-48 p-4;
    max-width: 450px;

  }

  .modalSpellDrawer {
    width: 30%;
    height: 80vh;
    margin-top: 0;
    overflow-y: auto;
    @apply rounded;
  }

  /* width */
  .modalSpellDrawer::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  .modalSpellDrawer::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  .modalSpellDrawer::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  .modalSpellDrawer::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .drawerBackdrop {
    @apply justify-center items-center;
    overflow-y: hidden;
  }
}
