.container {
  @apply h-screen flex items-center justify-center flex-col;
}

.contentContainer {
  @apply p-6 rounded-lg w-full;
  background-color: var(--bg-primary);
}

.headingPrimary {
  @apply font-black text-3xl;
}

.headingSecondary {
  @apply text-lg mb-8 text-center;
}

.emailForm {
  @apply flex flex-col;
}

.emailInput {
  @apply appearance-none rounded-md relative block w-full px-3 py-2 border mt-1;
  background-color: var(--bg-secondary);
  border-color: var(--border-primary);
}

.emailInput::placeholder {
  color: var(--color-placeholder);
}

.emailInput:focus {
  @apply outline-none ring z-10;
}

.emailInput::placeholder {
  @apply text-gray-500;
}

.emailLabel {
  @apply text-sm font-medium;
}

.logoImage {
  @apply w-56 h-56;
}

.divider {
  @apply flex justify-center items-center my-4;
}

.dividerText {
  @apply mx-4 font-medium  opacity-50;
}

.dividerLine {
  @apply block w-full  opacity-50 rounded;
  background-color: var(--text-primary);
  height: 1px;
}

@screen sm {
  .contentContainer {
    @apply shadow-lg p-10 rounded-lg w-2/3;
    background-color: var(--bg-secondary);
  }

  .emailInput {
    background-color: var(--bg-tertiary);
    border-color: var(--border-primary);
  }

  .headingPrimary {
    @apply mb-8;
  }
}

@screen md {
  .contentContainer {
    @apply rounded-lg w-1/2;
  }
}

@screen lg {
  .contentContainer {
    @apply rounded-lg w-1/3;
  }
}
