.container {
  @apply m-4 rounded;
  background-color: var(--bg-secondary);
}

@screen md {
  .container {
    @apply shadow-none;
  }
}

.manageSpellsButton {
  @apply flex items-center opacity-75;
}

.slotLevelContainer {
  @apply flex mt-6;
}

.spellLevelHeading {
  @apply text-sm font-semibold pb-1;
  color: var(--text-secondary);
  border-color: var(--text-secondary);
}

.noSpellsText {
  @apply italic text-sm px-4 pb-2;
  color: var(--text-secondary);
}

.removeSlotButton {
  @apply mr-4 text-gray-400;
}

.slotLevelText {
  @apply text-2xl font-semibold text-right w-5;
}

.spellSlotButton {
  @apply border w-8 h-8 flex items-center justify-center mx-1 mb-1 rounded bg-white shadow-inner;
}

.spellAttributeBadge {
  @apply ml-2 px-1 bg-primary-100 rounded font-medium;
  font-size: 12px;
}

.spellContainer {
  @apply mb-2 flex items-center justify-between w-full pb-2;
  border-color: var(--bg-tertiary);
}

.spellTitle {
  @apply text-left inline-flex flex-col;
}

.attributesContainer {
  @apply inline-flex items-center;
  font-size: 10px;
}

.spellInfoComponentsIcon {
  @apply text-lg flex justify-center;
  margin-left: 2px;
}

.spellCountText {
  @apply text-xs;
  color: var(--text-secondary);
}

.badge {
  @apply inline-flex h-3 w-3 rounded items-center font-bold justify-center uppercase;
  font-size: 8px;

  background-color: var(--text-secondary);
  color: var(--text-alt);
}
