.container {
  @apply m-2 bg-white shadow rounded py-2;
}

.manageSpellsButton {
  @apply flex items-center opacity-75;
}

.slotLevelContainer {
  @apply flex mt-6;
}

.removeSlotButton {
  @apply mr-4 text-gray-400;
}

.slotLevelText {
  @apply text-2xl font-semibold text-right w-5;
}

.spellSlotButton {
  @apply border w-8 h-8 flex items-center justify-center mx-1 mb-1 rounded bg-white shadow-inner;
}

.spellAttributeBadge {
  @apply ml-2 px-1 bg-primary-100 rounded font-medium;
  font-size: 12px;
}

.spellContainer {
  @apply mb-2 flex items-center justify-between w-full border-b pb-2 border-gray-200;
}

.spellContainer:last-child {
  border: none;
  margin-bottom: 0;
}

.spellTitle {
  @apply text-left inline-flex flex-col;
}

.attributesContainer {
  @apply inline-flex items-center;
  font-size: 10px;
}

.spellInfoComponentsIcon {
  @apply text-gray-800 text-lg flex justify-center;
  margin-left: 2px;
}
