.headerTitle {
  @apply text-left flex items-center;
}

.heading {
  @apply text-sm font-semibold ml-2 capitalize;
}

.close {
  @apply text-gray-300;
}

.spellName {
  @apply text-xl leading-tight font-extrabold;
  color: var(--color-spell-name);
}

.spellSchool {
  @apply text-sm capitalize mb-4;
  color: var(--text-secondary);
}

.spellInfoContainer {
  @apply grid grid-cols-2 my-4 gap-y-2 w-full text-left;
}

.spellInfo {
  @apply flex flex-col;
}

.spellInfoLabel {
  @apply text-xs opacity-50;
}

.spellInfoValue {
  @apply text-sm font-semibold;
}

.fetchingContainer {
  @apply flex items-center justify-center;
  height: calc(100% - var(--drawer-header-height));
}
