.headerTitle {
  @apply text-left flex items-center;
}

.heading {
  @apply text-sm font-semibold ml-2 capitalize;
}

.close {
  @apply text-gray-300;
}

.spellName {
  @apply text-xl leading-tight font-extrabold;
}

.spellSchool {
  @apply opacity-50 text-sm capitalize mb-4;
}

.spellInfoContainer {
  @apply grid grid-cols-2 my-4 gap-y-2 w-full text-left;
}

.spellInfo {
  @apply flex flex-col;
}

.spellInfoLabel {
  @apply text-xs opacity-50;
}

.spellInfoValue {
  @apply text-sm font-semibold;
}

/* ----------------------- skelton */

.skeletonContainer {
  @apply flex flex-col p-4 items-start;
}

.skeletonNameBar {
  @apply bg-gray-200 w-48 block rounded-sm overflow-hidden;
  height: 18px;
}

.skeletonSchoolBar {
  @apply bg-gray-200 w-32 block rounded-sm overflow-hidden mt-1 mb-6;
  height: 9px;
}

.skeletonInfo {
  @apply grid grid-cols-2 my-4 gap-2 w-full;
}

.skeletonInfoField {
  @apply h-8 w-20 bg-gray-200 rounded-sm;
}

.skeletonDescription {
  @apply h-40 bg-gray-200 w-10/12;
}

.skeletonKlasses {
  @apply bg-gray-200 w-48 block rounded-sm overflow-hidden mt-4;
  height: 24px;
}

.animatedBar {
  @apply block h-6 rounded-sm w-10;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0)
  );
}
