:root {
  /* Your default theme */
  --bg-primary: #f7fafc;
  --bg-secondary: #fff;
  --bg-accent: #2a4365;
  --text-primary: #1f1f1f;
  --text-secondary: rgb(0, 0, 0, 0.6);
  --text-alt: #f7fafc;
  --text-accent: #2a4365;
  --border-primary: #e2e8f0;

  --bg-modal-drawer: #fff;
  --bg-header: #1a202c;
  --bg-klass-logo: #1a202c;
  --bg-input: #2d3748;
  --bg-filters: #f7fafc;
  --border-filters: #e2e8f0;
}

[data-theme='dark'] {
  --bg-primary: #121212;
  --bg-secondary: #1f1f1f;
  --bg-accent: #3182ce;
  --text-primary: rgb(255, 255, 255, 0.87);
  --text-secondary: rgb(255, 255, 255, 0.6);
  --text-alt: #1f1f1f;
  --text-accent: #3182ce;
  --border-primary: #1a202c;

  --bg-modal-drawer: #121212;
  --bg-header: #1f1f1f;
  --bg-klass-logo: #121212;
  --bg-input: #121212;
  --bg-filters: #1f1f1f;
  --border-filters: rgb(255, 255, 255, 0.6);
}

@tailwind base;
@tailwind components;
@tailwind screens;
@tailwind utilities;

html {
  font-family: 'Inter var', sans-serif;
  width: 100vw;
  overflow-x: hidden;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }
}

@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url('../public/fonts/Inter.var.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url('../public/fonts/Inter.var.woff2') format('woff2');
}

body {
  @apply antialiased;
  background-color: var(--bg-primary);
  color: var(--text-primary);

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
  display: none;
}

button:focus {
  @apply outline-none;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
