:root {
  /* Your default theme */
  --bg-primary: #eeeeee;
  --bg-secondary: #fff;
  --bg-info: #f7fafc;
  --bg-accent: #2a4365;
  --bg-focused: #edf2f7;
  --text-primary: #1f1f1f;
  --text-secondary: rgb(0, 0, 0, 0.6);
  --text-alt: #f7fafc;
  --text-accent: #2a4365;
  --border-primary: #e2e8f0;

  --bg-modal-drawer: #fff;
  --bg-header: #1f1f1f;
  --bg-klass-logo: #1f1f1f;
  --bg-search-input: #333333;
  --bg-filters: #f7fafc;
  --bg-tertiary: #edf2f7;
  --border-filters: #e2e8f0;
  --color-spell-name: #1f1f1f;
  --bg-create-button: #1f1f1f;
  --color-spell-badge: #e2e8f0;
  --color-placeholder: rgb(0, 0, 0, 0.4);
  --bg-animated-bar: rgba(255, 255, 255, 0.5);
  --bg-slot-active: rgba(0, 0, 0, 0.5);
  --drawer-header-height: 3rem;
  --combo-white-d-3: #fff;
  --bg-drawer-header: #fff;
  --bg-drawer-header-2: #fff;

  --color-barbarian: #ff7d01;
  --color-bard: #e6cc80;
  --color-cleric: #121212;
  --color-druid: #ff7d0a;
  --color-fighter: #c79c6e;
  --color-monk: #00e084;
  --color-paladin: #f58cba;
  --color-ranger: #abd473;
  --color-rogue: #baad01;
  --color-sorcerer: #ff4700;
  --color-warlock: #9482c9;
  --color-wizard: #69ccf0;
}

[data-theme='dark'] {
  --bg-primary: #121212;
  --bg-secondary: #1f1f1f;
  --bg-accent: #3182ce;
  --bg-focused: #282d33;
  --text-primary: rgb(255, 255, 255, 0.87);
  --text-secondary: rgb(255, 255, 255, 0.6);
  --text-alt: #1f1f1f;
  --text-accent: #3182ce;
  --border-primary: rgb(255, 255, 255, 0.1);

  --bg-modal-drawer: #121212;
  --bg-info: #333333;
  --bg-header: #1f1f1f;
  --bg-klass-logo: #121212;
  --bg-search-input: #282d33;
  --bg-filters: #1f1f1f;
  --bg-create-button: #1f1f1f;
  --bg-tertiary: #333333;
  --border-filters: rgb(255, 255, 255, 0.6);
  --color-spell-name: #63b3ed;
  --color-spell-badge: #333333;
  --color-placeholder: rgb(255, 255, 255, 0.4);
  --bg-animated-bar: rgba(0, 0, 0, 0.6);
  --bg-slot-active: #121212;
  --drawer-header-height: 3rem;
  --combo-white-d-3: #333333;
  --bg-drawer-header: #121212;
  --bg-drawer-header-2: #1f1f1f;

  --color-barbarian: #ff7d01;
  --color-bard: #e6cc80;
  --color-cleric: #fff;
  --color-druid: #ff7d0a;
  --color-fighter: #c79c6e;
  --color-monk: #00e084;
  --color-paladin: #f58cba;
  --color-ranger: #abd473;
  --color-rogue: #fff569;
  --color-sorcerer: #ff4700;
  --color-warlock: #9482c9;
  --color-wizard: #69ccf0;
}

@tailwind base;
@tailwind components;
@tailwind screens;
@tailwind utilities;

html {
  font-family: 'Inter var', sans-serif;
  width: 100vw;
  overflow-x: hidden;

  @media only screen and (max-width: 325px) {
    font-size: 12px;
  }
}

@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }
}

@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url('../public/fonts/Inter.var.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url('../public/fonts/Inter.var.woff2') format('woff2');
}

body {
  @apply antialiased;
  background-color: var(--bg-primary);
  color: var(--text-primary);

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
  display: none;
}

button:focus {
  @apply outline-none;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.statSectionHeading {
  @apply text-sm;
  color: var(--text-secondary);
}
