.heading {
  @apply mb-2 text-sm font-medium whitespace-nowrap;
  color: var(--text-secondary);
}

.statBlockWrapper {
  @apply p-4  rounded;
  background-color: var(--bg-secondary);
}

.hpContainer {
  @apply p-4 border-b flex justify-end;
}

.heading {
  @apply text-sm font-medium;
  color: var(--text-secondary);
}
