.spellSlotButton {
  @apply border w-8 h-8 flex items-center justify-center rounded  shadow-inner;
  background-color: var(--bg-tertiary);
  border-color: var(--border-primary);
}

.spellSlotChecked {
  @apply w-6 h-6 rounded;
  color: var(--color-text);
}
