.container {
  @apply rounded mb-2;
  background-color: var(--bg-secondary);
}

.title {
  @apply flex flex-col leading-tight items-start;
}

.icon {
  @apply mr-2;
  color: var(--color-item-icon);
}

.itemName {
  @apply font-semibold;
}

.itemRarity {
  @apply text-xs;
  color: var(--text-secondary);
}

.itemType {
  @apply text-xs font-light;
}

.button {
  @apply w-full flex items-center justify-between px-2 py-2;
}

.description {
  @apply px-4 py-2 shadow-inner border-2 text-sm;

  border-color: var(--bg-secondary);
  background-color: var(--bg-tertiary);
}
