.abilityScores {
  @apply flex flex-col py-2  p-4 rounded;
  background-color: var(--bg-secondary);
}

.abilityScoreContainer {
  @apply flex justify-between;
}

.abilityScoreContainer:not(:last-child) {
  @apply mb-2 border-b pb-1;
  border-color: var(--bg-tertiary);
}

.abilityScoreIcon {
  @apply mr-2 text-white bg-gray-800 rounded-full p-1;
}

.abilityScoreTitle {
  @apply text-sm flex capitalize mr-4;
}

.abilityScoreValue {
  @apply font-bold flex text-left;
}

.abilityScoreM {
  @apply flex justify-end items-start font-bold;
}

.abilityScoreSave {
  @apply flex justify-end items-start font-bold ml-4;
}

.miniLabel {
  @apply text-gray-600 font-semibold uppercase;
  font-size: 8px;
  padding-right: 2px;
}
